* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.app {
    height: 100vh;
    width: 100vw;
    background-color: #2A2A2A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app>.content {
    background-color: #323232;
    width: 80%;
    aspect-ratio: 2 / 1;
    box-shadow: 0px 0px 60px rgba(255, 115, 0, 0.5);
    display: flex;
    justify-content: end;
    flex-direction: row-reverse;
    overflow: hidden !important;
}

.app>.content>.content-image {
    height: 100%;
    width: 30%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.app>.content>.content-image>img {
    width: 80%;
}

.app>.content>.content-items {
    height: 100%;
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: start;
    align-content: center;
    align-items: center;
}

.app>.content>.content-items>div {
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-right: 1px solid rgba(255, 115, 0, 0.5);
    border-top: 1px solid rgba(255, 115, 0, 0.5);
}
.app>.content>.content-items>.identifier {
    position: absolute;
    background-color: red;
}