* {
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@keyframes rain-animation {
    from {
        top: -20px;
    }

    to {
        top: 150vh;
    }
}

.rain-element {
    transition: .2s;
    background-color: rgba(255, 115, 0, 0.7);
    height: 5px;
    width: 5px;
    position: absolute;
    animation: linear 1s rain-animation;
    z-index: 0;
}
.rain-element::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 5px;
    left: 0px;
    right: 0px;
    background-color: rgba(255, 115, 0, 0.5);
}

.rain-element::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 10px;
    left: 0px;
    right: 0px;
    background-color: rgba(255, 115, 0, 0.3);
}

body {
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
}

.app {
    height: 100vh;
    width: 100vw;
    background-color: #2A2A2A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app>.content {
    z-index: 10;
    background-color: #323232;
    width: 80%;
    aspect-ratio: 2 / 1;
    box-shadow: 0px 0px 60px rgba(255, 115, 0, 0.5);
    display: flex;
    justify-content: end;
    flex-direction: row-reverse;
    overflow: hidden !important;
}

.app>.content>.content-image {
    height: 100%;
    width: 30%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.app>.content>.content-image>img {
    width: 80%;
}

.app>.content>.content-items {
    height: 100%;
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: start;
    align-content: center;
    align-items: center;
}

.app>.content>.content-items>div {
    cursor: pointer;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: rgba(255, 115, 0, 1);
    text-shadow: 0px 0px 20px rgba(255, 115, 0, 0.5);
    border-right: 1px solid rgba(255, 115, 0, 0.5);
    border-top: 1px solid rgba(255, 115, 0, 0.5);
    font-size: 25px;
    transition: .2s ease-in-out;
}
.app>.content>.content-items>div:hover {
    background-color: rgba(255, 115, 0, 1);
    color: black;
}
.app>.content>.content-items>.identifier {
    color: black;
    position: absolute;
    background-color: rgba(255, 115, 0, 1);
    transition: all .05s ease-in-out;
    font-size: 30px;
}